<template name="multiple_choice_display">
	<h2>What movie is the above from?</h2>
	<div class="multiple-choice">
		<button class="choices" value="South Park">South Park</button>
		<button class="choices" value="Not South Park">Not South Park</button>
		<button class="choices" value="Not South Park">Not South Park</button>
		<button class="choices" value="Not South Park">Not South Park</button>
	</div>

	<div class="score-tracker">
		<p>Player 1 score: {{score1}}</p>
		<p>Player 2 score: {{score2}}</p>
	</div>
</template>
