<template name="question_display">
	<div class="video">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/{{videoId}}?controls=0&amp;showinfo=0&amp;start=5" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
	</div>

	<h2>What movie is the above from?</h2>
	<div class="multiple-choice">
		<button class="choices" value="South Park">South Park</button>
		<button class="choices" value="Not South Park">Not South Park</button>
		<button class="choices" value="Not South Park">Not South Park</button>
		<button class="choices" value="Not South Park">Not South Park</button>
	</div>

	<div class="score-tracker">
		<p>Player 1 score: {{score1}}</p>
		<p>Player 2 score: {{score2}}</p>
	</div>
</template>
